<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="lock"></span> Node Authentication</h1>

		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default" id="login_button"><span class="user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default" id="signup_button"><span class="user"></span> Local Signup</a>
	</div>
<div>
		<p>Download JAlarm:</p>
		<a href="/download/JAlarm.zip" download>Click to download</a>
</div>
</div>

</body>
</html>
